/php_05_obiektowosc_/nbproject/private/
/php_05_obiektowosc_PK/nbproject/private/
/php_05_obiektowosc/nbproject/private/
/php_05_obiektowosc_AB/nbproject/private/
/php_06a_nowastruktura/nbproject/private/
/php_06a_nowastruktura — kopia/nbproject/private/
/php_06b_namespaces/nbproject/private/
/php_07a_role/nbproject/private/
